# ZapElite Repository Ignore List

# Files to keep
!index.html
!style.css
!logo.png
!.gitignore

# Folders to keep
!site/**
!admin-licencas/**

# Patterns to ignore
node_modules/
dist/
*.zip
*.exe
.DS_Store
.env
config.js
**/config.js
**/node_modules/
**/dist/
**/dist-*
push_error.txt
tmp_utils.txt
